<div class="explorer-toolbar">
  <app-text-field
    class="explorer-toolbar__search"
    kind="search"
    [placeholder]="searchPlaceholder()"
    [ariaLabel]="searchPlaceholder()"
    [value]="query()"
    (valueChange)="onSearchValue($event)"
  />
  <div class="explorer-toolbar__actions">
    <app-button
      variant="none"
      [icon]="Icon.PLUS_SQUARE"
      ariaLabel="Expand All"
      tooltip="Expand All"
      (click)="expandAll.emit()"
    />
    <app-button
      variant="none"
      [icon]="Icon.MINUS_SQUARE"
      ariaLabel="Collapse All"
      tooltip="Collapse All"
      (click)="collapseAll.emit()"
    />
    <app-button
      variant="none"
      [icon]="Icon.DOTS_THREE"
      ariaLabel="More Actions"
      tooltip="More Actions"
      [cdkMenuTriggerFor]="moreMenu.panel() ?? null"
      [cdkMenuPosition]="moreMenu.position()"
    />
  </div>
</div>

<app-menu
  #moreMenu
  [items]="moreItems()"
  placement="down-end"
  (selected)="moreSelected.emit($event)"
/>
