:host {
  display: flex;
  min-inline-size: 0;
  min-block-size: 0;
  block-size: 100%;
  inline-size: 100%;
}

.dock-node__split {
  display: flex;
  flex: 1;
  min-inline-size: 0;
  min-block-size: 0;

  &--row {
    flex-direction: row;
  }

  &--col {
    flex-direction: column;
  }
}

.dock-node__pane {
  display: flex;
  min-inline-size: 2.625rem;
  min-block-size: 2rem;
  overflow: hidden;
}
