<footer>
  <div class="status-strip__group">
    @for (segment of leading(); track segment.id) {
      <span class="status-strip__segment">
        @if (segment.icon) {
          <i [class]="segment.icon"></i>
        }
        {{ segment.text }}
      </span>
    }
  </div>
  <div class="status-strip__group">
    @for (segment of trailing(); track segment.id) {
      <span class="status-strip__segment">
        @if (segment.icon) {
          <i [class]="segment.icon"></i>
        }
        {{ segment.text }}
      </span>
    }
  </div>
</footer>
