<div class="accordion">
  <button
    type="button"
    class="accordion__header"
    [attr.aria-expanded]="expanded()"
    (click)="toggle()"
  >
    @if (icon(); as icon) {
      <app-icon class="accordion__icon" [icon]="icon" [color]="iconColor()" />
    }
    <span class="accordion__heading">{{ heading() }}</span>
    <app-icon class="accordion__caret" [icon]="Icon.CARET_DOWN" [rotation]="expanded() ? 180 : 0" />
  </button>
  @if (expanded()) {
    <div class="accordion__body">
      <ng-content />
    </div>
  }
</div>
