<div class="markdown-toolstrip">
  <app-button
    variant="none"
    [icon]="Icon.UNDO"
    ariaLabel="Undo"
    tooltip="Undo"
    (click)="onUndo()"
  />
  <app-button
    variant="none"
    [icon]="Icon.REDO"
    ariaLabel="Redo"
    tooltip="Redo"
    (click)="onRedo()"
  />
  <span class="markdown-toolstrip__divider" aria-hidden="true"></span>
  <app-button
    variant="none"
    [icon]="Icon.BOLD"
    ariaLabel="Bold"
    tooltip="Bold"
    (click)="onBold()"
  />
  <app-button
    variant="none"
    [icon]="Icon.ITALIC"
    ariaLabel="Italic"
    tooltip="Italic"
    (click)="onItalic()"
  />
  <app-button
    variant="none"
    [icon]="Icon.STRIKETHROUGH"
    ariaLabel="Strikethrough"
    tooltip="Strikethrough"
    (click)="onStrikethrough()"
  />
  <app-button
    variant="none"
    [icon]="Icon.CODE_INLINE"
    ariaLabel="Inline code"
    tooltip="Inline code"
    (click)="onInlineCode()"
  />
  <span class="markdown-toolstrip__divider" aria-hidden="true"></span>
  <app-button
    variant="none"
    [icon]="Icon.BULLET_LIST"
    ariaLabel="Bullet list"
    tooltip="Bullet list"
    (click)="onBulletList()"
  />
  <app-button
    variant="none"
    [icon]="Icon.NUMBERED_LIST"
    ariaLabel="Numbered list"
    tooltip="Numbered list"
    (click)="onOrderedList()"
  />
  <app-button
    variant="none"
    [icon]="Icon.TASK_LIST"
    ariaLabel="Task list"
    tooltip="Task list"
    (click)="onTaskList()"
  />
  <span class="markdown-toolstrip__divider" aria-hidden="true"></span>
  <app-button
    variant="none"
    [icon]="Icon.TABLE"
    ariaLabel="Insert table"
    tooltip="Insert table"
    (click)="onTable()"
  />
  <app-button
    variant="none"
    [icon]="Icon.DIVIDER"
    ariaLabel="Insert divider"
    tooltip="Insert divider"
    (click)="onDivider()"
  />
  @if (showOpenInTab()) {
    <span class="markdown-toolstrip__spacer"></span>
    <app-button
      variant="none"
      [icon]="Icon.OPEN_EXTERNAL"
      ariaLabel="Open in Tab"
      tooltip="Open in Tab"
      (click)="openInTab.emit()"
    />
  }
</div>
