@if (hasServers()) {
  <button
    type="button"
    class="lsp-status-menu__trigger"
    title="Language Servers"
    aria-label="Language Servers"
    [appTooltip]="'Language Servers'"
    [cdkMenuTriggerFor]="menu"
    [cdkMenuPosition]="menuPosition"
  >
    <app-icon class="lsp-status-menu__trigger-icon" [icon]="Icon.ARTICLE" />
  </button>
}

<ng-template #menu>
  <div class="lsp-status-menu__panel" cdkMenu>
    <p class="lsp-status-menu__heading">Language Servers</p>
    @for (server of servers(); track server.sessionId) {
      <div class="lsp-status-menu__item lsp-status-menu__item--{{ server.state }}">
        <app-icon class="lsp-status-menu__item-icon" [icon]="iconFor(server.state)" />
        <span class="lsp-status-menu__item-text">
          <span class="lsp-status-menu__item-name">{{ server.name }}</span>
          <span class="lsp-status-menu__item-status">{{ statusText(server) }}</span>
        </span>
        <app-button
          variant="none"
          size="small"
          [icon]="Icon.RESTART"
          ariaLabel="Restart language server"
          tooltip="Restart"
          [disabled]="server.state === 'starting' && !server.stalled"
          (click)="restart(server)"
        />
      </div>
    }
  </div>
</ng-template>
