<div class="ribbon-menu-button">
  <button
    type="button"
    class="ribbon-menu-button__action"
    [disabled]="disabled()"
    (click)="onAction()"
  >
    <app-icon [icon]="icon()" [size]="1.5" />
    <span>{{ label() }}</span>
  </button>
  <button
    type="button"
    class="ribbon-menu-button__menu"
    [disabled]="disabled()"
    [cdkMenuTriggerFor]="menu"
    [cdkMenuPosition]="menuPosition"
  >
    <app-icon [icon]="Icon.CARET_DOWN" [size]="0.75" />
  </button>
</div>

<ng-template #menu>
  <div class="dock-panel-menu" cdkMenu>
    @for (item of items(); track item.id) {
      <button
        type="button"
        class="dock-panel-menu__item"
        cdkMenuItem
        (cdkMenuItemTriggered)="onSelect(item.id)"
      >
        @if (item.icon; as icon) {
          <app-icon [icon]="icon" />
        }
        <span>{{ item.label }}</span>
      </button>
    }
  </div>
</ng-template>
